*~
Makefile
config.h
config.h.in
config.status
configure
autom4te.cache
config.log
libpaxos.tex
paxos.tex
paxos.aux
paxos.html
paxos.idx
paxos.ilg
paxos.ind
paxos.log
paxos.out
paxos.pdf
paxos.tex
paxos.toc
texput.log
*.o
*.so
*.dylib
TAGS
